---
const { t } = Astro.props;
---
<footer id="paper" class="foot">
  <div class="foot__row">
    <div>
      <div class="foot__brand">X-Cache</div>
      <p class="foot__note">{t.footer.note}</p>
    </div>
    <div class="foot__meta">
      {t.footer.team} · {t.footer.report} · {t.footer.year}
    </div>
  </div>
</footer>
